@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply hidden;
}

body {
  @apply overflow-x-hidden;
}

li {
  @apply font-medium duration-500 cursor-pointer hover:translate-x-2 md:hover:translate-x-0 md:hover:translate-y-2 hover:text-[#B26723] lg:text-xl;
}

.glass {
  background: rgba(178, 103, 35, 0.1);
  box-shadow: 0 8px 26px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  @apply md:bg-transparent md:border-none md:shadow-none md:blur-none md:z-10;
}

.shado {
  box-shadow: 0px 0px 36px 30px #0b0b0b;
}

.btn {
  @apply font-medium px-6 py-2 rounded-3xl duration-300 bg-transparent hover:bg-[#B26723] border hover:border-[#B26723];
}

#chat:hover #chat-icon {
  @apply bg-transparent;
}

.tube {
  width: 0%;
  height: 100%;
  background-color: #d6d4d4c7;
  animation: fill 5.48s linear forwards infinite;
}

@keyframes fill {
  to {
    width: 100%;
  }
}
@layer utilities {
  .loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #b26723 90%, #ffffff00);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}
@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}

.child {
  @apply cursor-pointer;
}

.scroll .parents {
  animation: animatetoleft var(--t) linear infinite;
}

.scroll .parent {
  animation: animate var(--t) linear infinite;
}

.scroll,
.swiper {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

footer li {
  @apply font-normal text-base;
}
